{
  // "presets": [], 预处理
  "plugins": [
    ["@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties",{
      "loose": true
    }]
  ]
}